img.wayf_dk_login-be-img {
  vertical-align: middle;
}

.sp-metadata {
  border: 1px solid #CCC;
  display: block;
  max-width: 900px;
  overflow: scroll;
  padding: 2px;
}

.sp-metadata pre {
  display: inline;
}
